* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: ivory;
}

.wbox {
    background-color: burlywood;
    border: 0.5em solid blanchedalmond;
    border-radius: 0.75em;
    width: 25%;
    margin: auto;
    margin-top: 16%;
    text-align: center;
}

.sub_box {
    color: darkslategrey;
    font-size: 2em;
    text-align: left;
}

.button_box {
    text-align: center;
}

.wbutton {
    font-size: 0.75em;
    border: 0.2em solid rosybrown;
    border-radius: 0.25em;
    background-color: blanchedalmond;
}

@keyframes button_hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.wbutton:hover {
    background-color: peachpuff;
    border-color: beige;
    animation-name: button_hover;
    animation: button_hover 0.5s infinite;
    transition-timing-function: ease;

}


#selection_box {
    display: block;
}

#error_prompt {
    display: none;
}

#login_modal {
    display: none;
}

#signup_modal {
    display: none;
}

#successful_entry {
    display: none;
}